<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.cheneyhu.cordova.tencent.LiteAV" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-tencent-LiteAV</name>

    <js-module name="CLiteAV" src="www/CLiteAV.js">
        <clobbers target="CLiteAV" />
    </js-module>

    <platform name="ios">
        <config-file parent="/widget" target="config.xml">
            <feature name="CLiteAV">
                <param name="ios-package" value="CLiteAV" />
            </feature>
        </config-file>

        <header-file src="src/ios/CLiteAV.h" />
        <source-file src="src/ios/CLiteAV.m" />

        <!-- 腾讯直播 SDK -->
        <framework src="src/ios/TXLiteAVSDK_Smart.framework" custom="true"/>

        <!-- 依赖库 -->
        <framework src="VideoToolbox.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="libstdc++.tbd" />
        <framework src="libz.tbd" />
        <framework src="libiconv.tbd" />
        <framework src="libresolv.tbd" />

        <!-- 权限声明 -->
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>直播需要访问您的照相机</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>直播需要访问您的麦克风</string>
        </config-file>

        <!-- 为了节省 Git 仓库空间压缩了 lib 外部库目录，需要在开始构建之前解压 -->
        <hook type="before_plugin_install" src="src/ios/hooks/before_plugin_install/unzip_libs.sh"/>
    </platform>
</plugin>